@import '../utils/general.scss';


.loading {
    display: grid;
    place-items: center;
    background-color: $background-color;
    height: calc(100vh);

    .anticon {
        font-size: 32px;
        color: ghostwhite;
        padding-bottom: 89px;
    }
}