@import '../utils/general.scss';

#file-upload {

    display: flex;
    flex-direction: column;
    background-color: $background-color;

    .input-wrapper {

        width: 100%;
        min-height: calc(100vh - 89px);
        flex: 0 0 calc(100vh - 89px);
        display: grid;
        place-items: center;
        
        input {
            width: 0;
            height: 0;
            display: none;
        }
        
        label {
            display: block;
            cursor: pointer;
        }
    }

    .footer {
        background-color: $accent;
        flex: 0 0 89px;

        display: flex;

        .file-info {
            flex: 0 0 calc(100vw - 89px);
            display: flex;
            flex-direction: column;
            place-items: center;
            justify-content: center;
            
            p {
                width: calc(100% - 32px);
                color: ghostwhite;
            }

            .valid { color: $success }
            .invalid { color: $error }
        }

        button {
            border: none;
            outline: none;
            width: 89px;
            height: 89px;
            background-color: $success;
            pointer-events: all;
            cursor: pointer;
            
            &.disabled {
                background-color: $error;
                pointer-events: none;
            }
        }
    }

    .anticon {
        font-size: 32px;
        color: ghostwhite;
    }

}