* {
    overscroll-behavior: none;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

    ::-webkit-scrollbar {
        display: none;
    }
}

$nav-height: 60px;

main {
    max-width: 800px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0 auto
}

#nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: red;
    height: $nav-height;

    background-color: black;
    display: grid;
    grid-template-columns: $nav-height auto $nav-height;
    color: white;

    button {
        outline: 0;
        border: 0;
        color: white;
        background-color: transparent;
        font-size: 20px;
    }

    p {
        line-height: $nav-height;
        text-align: center;
    }

    #info-wrapper {

        background-color: black;
        width: 100vw;
        max-width: 320px;
        height: calc(100vh - #{$nav-height});
        transition-duration: 0.25s;

        &.closed {
            transform: translateX(-100%);
        }
        
        &.open {
            transform: translateX(0)
        }

        section {
            margin: 12px;
            padding: 12px;
            border: 1px solid white;

            p, a {
                text-align: left;
                font-size: 16px;
                line-height: 20px;
                color: white !important;
            }
        }

        footer {
            position: absolute;
            bottom: 0;
            left: 50%;
            font-size: 10px;
            padding: 12px;
            transform: translateX(-50%)
        }
    }
}

#file-input {

    padding-top: $nav-height;

    input {
        opacity: 0;
        width: 0;
        height: 0;
        position: absolute;
    }

    label {
        display: grid;
        place-items: center;
        outline: 1px solid black;
        transition-duration: 0.25s;
        cursor: pointer;
        
        width: calc(100% - 24px);
        height: calc(100vh - calc(#{$nav-height} + 24px));
        margin: 12px;

        &:hover {
            background-color: #f0f0f0;
        }

        span {
            > * {
                display: block;
                width: 100%;
                text-align: center;
                padding: 6px 0;
            }
        }
    }
}

#file-list-wrapper {

    padding-top: $nav-height;
    width: calc(100% - 24px);
    margin: 12px;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;

    #file-list {

        flex: 0 0 100%;
        overflow: scroll;

        .file {
            flex: 0 0 100%;

            display: flex;
            justify-content: space-between;
            border-top: 1px solid black;
            border-right: 1px solid black;
            border-left: 1px solid black;
            padding: 6px;

            .file-remove-button {
                border: none;
                outline: none;
                background-color: transparent;
            }

            &:last-child {
                border-bottom: 1px solid black;
            }

            &.invalid-file {
                color: red;
            }
        }
    }

    #submit-button {
        background-color: transparent;
        border: 1px solid black;
        outline: none;
        margin: 12px 0 12px auto;
        padding: 6px 12px;
        transition-duration: 0.25s;
        cursor: pointer;

        &:hover {
            background-color: #f0f0f0;
        }
    }

}

#photo-preview {
    padding-top: calc(#{$nav-height} + 12px);
    width: calc(100% - 24px);
    height: calc(100vh - (#{$nav-height} + 24px));
    overflow: scroll;
    margin: auto;


    .photo-inner {
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        margin-bottom: 12px;
        background-color:  #f0f0f0;;

        &:last-child {
            margin-bottom: 0;
        }
        
        img {
            margin: auto;
            padding: 12px;
        }

        .download-wrapper {
            display: grid;
            place-items: center;
            background-color: white;
            
            a {
                padding: 12px 0;
                color: black;
                border-top: 1px solid black;
                width: 100%;
                text-align: center;
            }
        }
    }
}

.loading {
    max-width: 800px;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;

    .anticon, .anticon * {
        width: 36px;
        height: 36px;
    }
}